node_red/data/.flows.json.backup
[
    {
        "id": "8df74e9bb1d5780b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d9779f0ce19d4b83",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fabe93bc2e8df2ba",
        "type": "mqtt-broker",
        "name": "sup",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3358530e05362838",
        "type": "ui_group",
        "name": "Datos de purificadora",
        "tab": "d6ae4db263df279d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ae4db263df279d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7a4198c74bcc169d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4447d87b9554097f",
        "type": "telegram bot",
        "botname": "Purificadora_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "5fac186d01deb879",
        "type": "mqtt in",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "topic": "Prueba1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fabe93bc2e8df2ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "420a5fbfe251e4ec"
            ]
        ]
    },
    {
        "id": "bfe82911893c8b60",
        "type": "ui_chart",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "group": "3358530e05362838",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Agua purificada",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "420a5fbfe251e4ec",
        "type": "switch",
        "z": "8df74e9bb1d5780b",
        "name": "separar",
        "property": "payload.Sensor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "pm",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "cloro",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "nvl_agua_purificada",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "nvl_agua_cruda",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "7eb79bb0c9b37637"
            ],
            [
                "ad19685473b70531"
            ],
            [
                "571b9443e3b6dd43"
            ],
            [
                "73c1cf226bd22bb4"
            ]
        ]
    },
    {
        "id": "571b9443e3b6dd43",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "F agua purificada",
        "func": "msg.payload = msg.payload.Valor\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 300,
        "wires": [
            [
                "bfe82911893c8b60",
                "742bbdbd875e1cd4"
            ]
        ]
    },
    {
        "id": "73c1cf226bd22bb4",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "agua cruda",
        "func": "msg.payload = msg.payload.Valor\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 380,
        "wires": [
            [
                "13b899d3f5e3b4e0"
            ]
        ]
    },
    {
        "id": "ad19685473b70531",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "cloro",
        "func": "msg.payload = msg.payload.Valor\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 220,
        "wires": [
            [
                "3ff8deb93e429fac"
            ]
        ]
    },
    {
        "id": "7eb79bb0c9b37637",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "pm",
        "func": "\nmsg.payload = msg.payload.Valor\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 120,
        "wires": [
            [
                "1831a3bc07d58202",
                "35ab891263c3cfe6"
            ]
        ]
    },
    {
        "id": "1831a3bc07d58202",
        "type": "ui_gauge",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "group": "3358530e05362838",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 60,
        "wires": []
    },
    {
        "id": "35ab891263c3cfe6",
        "type": "switch",
        "z": "8df74e9bb1d5780b",
        "name": "switch pm",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1080,
        "y": 140,
        "wires": [
            [
                "259a67894f5fcb24"
            ]
        ]
    },
    {
        "id": "0d092ec0d2b160c1",
        "type": "telegram sender",
        "z": "8df74e9bb1d5780b",
        "name": "mandar_mensajes",
        "bot": "4447d87b9554097f",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1610,
        "y": 320,
        "wires": [
            [
                "345591f5d947c84e"
            ]
        ]
    },
    {
        "id": "b7a782bb561c9b37",
        "type": "telegram receiver",
        "z": "8df74e9bb1d5780b",
        "name": "recibir_mensajes",
        "bot": "4447d87b9554097f",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 1400,
        "y": 140,
        "wires": [
            [
                "345591f5d947c84e"
            ],
            []
        ]
    },
    {
        "id": "345591f5d947c84e",
        "type": "debug",
        "z": "8df74e9bb1d5780b",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 180,
        "wires": []
    },
    {
        "id": "259a67894f5fcb24",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_pm",
        "func": "\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nmsg.payload = {\n    \"chatId\": \"6179957821\",\n    \"type\": \"message\",\n    \"content\": \"Pm llegó a su límite \" + msg.payload\n}\nreturn msg;",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 200,
        "wires": [
            [
                "6e7090b27862c0ca"
            ]
        ]
    },
    {
        "id": "0accc66ffb9f0f2f",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "6e7090b27862c0ca",
        "type": "debug",
        "z": "8df74e9bb1d5780b",
        "name": "debig timestamp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 60,
        "wires": []
    },
    {
        "id": "3ff8deb93e429fac",
        "type": "switch",
        "z": "8df74e9bb1d5780b",
        "name": "switch cloro",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1050,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "742bbdbd875e1cd4",
        "type": "switch",
        "z": "8df74e9bb1d5780b",
        "name": "switch agua purificadora",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1110,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "13b899d3f5e3b4e0",
        "type": "switch",
        "z": "8df74e9bb1d5780b",
        "name": "switch agua cruda",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "876fc8c784943269",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_pm",
        "func": "msg.payload={\n    \"chatId\":\"6179957821\",\n    \"type\":\"message\",\n    \"content\":\"Pm llegó a su límite \"+msg.payload\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ce42608a6064792d",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "function 4",
        "func": "msg.payload={\n    \"chatId\":\"6179957821\",\n    \"type\":\"message\",\n    \"content\":\"Pm llegó a su límite \"+msg.payload\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6529821dc2244429",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "function 5",
        "func": "msg.payload={\n    \"chatId\":\"6179957821\",\n    \"type\":\"message\",\n    \"content\":\"Pm llegó a su límite \"+msg.payload\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 380,
        "wires": [
            []
        ]
    }
]