node_red/data/.flows.json.backup
[
    {
        "id": "8df74e9bb1d5780b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d9779f0ce19d4b83",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fabe93bc2e8df2ba",
        "type": "mqtt-broker",
        "name": "sup",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3358530e05362838",
        "type": "ui_group",
        "name": "Hora",
        "tab": "d6ae4db263df279d",
        "order": 2,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ae4db263df279d",
        "type": "ui_tab",
        "name": "Datos de agua purificada JIDAL",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7a4198c74bcc169d",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#2eceff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#001eff",
                    "value": "#2eceff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2eceff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a3eaff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#2eceff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Datos purificadora",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 40,
                "sy": 40,
                "gx": 4,
                "gy": 4,
                "cx": 5,
                "cy": 5,
                "px": 4,
                "py": 4
            }
        }
    },
    {
        "id": "4447d87b9554097f",
        "type": "telegram bot",
        "botname": "Purificadora_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "bef28d581646cdb5",
        "type": "ui_group",
        "name": "Tanque agua purificada",
        "tab": "d6ae4db263df279d",
        "order": 3,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f617dc9145f0f99a",
        "type": "ui_group",
        "name": "Tanque agua cruda",
        "tab": "d6ae4db263df279d",
        "order": 4,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd04484c38e7c2a0",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "bf0dcda89f7540ef",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "84491cc0412c730f",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "399bb99a53e8bf15",
        "type": "ui_group",
        "name": "Sucursal 1",
        "tab": "d6ae4db263df279d",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab4fc47aee5fc6f6",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "762b8d7fd44619d0",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "3dadb0580999926d",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "1a3a2e354f3795cd",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "0f6f643a36bea927",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "97c25bb89776d729",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "53e99309e3ab4095",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "ec01606962861252",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "bb1c8451193e106c",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "6e26348c06b23edd",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "2773c57ca720c6a2",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "26e862bb25318449",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "07439865ec28d878",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "c93887f8c97640a5",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "050a88a595235af7",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "7267edc057055b4c",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "e35878d387ba169e",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "86f8bc41ec9d5b0f",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "05ba660934773075",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "b7f173a8041845ce",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "975a4bfa7d2338a9",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "bef28d581646cdb5",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "3521a4b0169f8a8a",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d82ae4510ab317d",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "43e1d38ede423ae3",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "baeb4c204b01fe60",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "7eeb94d7f7637083",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "2bbeb194f8bad0c5",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "fa64dbb51a25f81a",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "ceb49ea22a6fda2d",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "5a172ec60193190e",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "a716846f2c6820db",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "5185feac7121a845",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "5e956019d576a332",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "bba68b75722ee86f",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "dde884cebfb5f3a6",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "43c29e03211caf03",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "850211192f0b6c40",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "b828b965469551ec",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "fa2374e672dd9248",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "1911e4ecd8e5e9af",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "f1137c4a7d3cc9e5",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "329a31757729b826",
        "type": "ui_spacer",
        "z": "8df74e9bb1d5780b",
        "name": "spacer",
        "group": "f617dc9145f0f99a",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "5fac186d01deb879",
        "type": "mqtt in",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "topic": "Prueba1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fabe93bc2e8df2ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 380,
        "wires": [
            [
                "420a5fbfe251e4ec"
            ]
        ]
    },
    {
        "id": "420a5fbfe251e4ec",
        "type": "switch",
        "z": "8df74e9bb1d5780b",
        "name": "separar",
        "property": "payload.Sensor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "pm",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "cloro",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "nvl_agua_purificada",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "nvl_agua_cruda",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "7eb79bb0c9b37637"
            ],
            [
                "ad19685473b70531"
            ],
            [
                "571b9443e3b6dd43"
            ],
            [
                "73c1cf226bd22bb4"
            ]
        ]
    },
    {
        "id": "571b9443e3b6dd43",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "F agua purificada",
        "func": "msg.payload = msg.payload.Valor\nvar agua_purificada\nglobal.set('agua_purificada', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 480,
        "wires": [
            [
                "742bbdbd875e1cd4",
                "83618e7e9f8afead",
                "e51c091137a9a621"
            ]
        ]
    },
    {
        "id": "73c1cf226bd22bb4",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "agua cruda",
        "func": "msg.payload = msg.payload.Valor\nvar agua_cruda\nglobal.set('agua_cruda', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 740,
        "wires": [
            [
                "13b899d3f5e3b4e0",
                "e62e27587f077be4",
                "36fff8cd01ac7321"
            ]
        ]
    },
    {
        "id": "ad19685473b70531",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "cloro",
        "func": "msg.payload = msg.payload.Valor\nvar cloro\nglobal.set('cloro', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "3ff8deb93e429fac",
                "ce19ca7466493b0a"
            ]
        ]
    },
    {
        "id": "7eb79bb0c9b37637",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "pm",
        "func": "\nmsg.payload = msg.payload.Valor\nvar pm\nglobal.set('pm', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 80,
        "wires": [
            [
                "1831a3bc07d58202",
                "35ab891263c3cfe6"
            ]
        ]
    },
    {
        "id": "1831a3bc07d58202",
        "type": "ui_gauge",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "group": "bef28d581646cdb5",
        "order": 5,
        "width": 6,
        "height": 7,
        "gtype": "gage",
        "title": "Partes por millón",
        "label": "pm",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "g-ppm",
        "x": 650,
        "y": 20,
        "wires": []
    },
    {
        "id": "35ab891263c3cfe6",
        "type": "switch",
        "z": "8df74e9bb1d5780b",
        "name": "switch pm",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "14f4c0cf28f19a3e"
            ]
        ]
    },
    {
        "id": "0d092ec0d2b160c1",
        "type": "telegram sender",
        "z": "8df74e9bb1d5780b",
        "d": true,
        "name": "mandar_mensajes",
        "bot": "4447d87b9554097f",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1510,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b7a782bb561c9b37",
        "type": "telegram receiver",
        "z": "8df74e9bb1d5780b",
        "name": "recibir_mensajes",
        "bot": "4447d87b9554097f",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 1460,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "259a67894f5fcb24",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_pm",
        "func": "msg.payload = {\n    \"chatId\": \"6179957821\",\n    \"type\": \"message\",\n    \"content\": \"ESTE MENSAJE SOLO SE DEBE DE ENVIOAR UNA VEZ Pm llegó a su límite \" + msg.payload\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "0d092ec0d2b160c1"
            ]
        ]
    },
    {
        "id": "3ff8deb93e429fac",
        "type": "switch",
        "z": "8df74e9bb1d5780b",
        "name": "switch cloro",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "bfeb34e7b84131db"
            ]
        ]
    },
    {
        "id": "742bbdbd875e1cd4",
        "type": "switch",
        "z": "8df74e9bb1d5780b",
        "name": "switch agua purificadora",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "2350",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 560,
        "wires": [
            [
                "876fc8c784943269"
            ],
            [
                "b15e87d729325db6"
            ]
        ]
    },
    {
        "id": "13b899d3f5e3b4e0",
        "type": "switch",
        "z": "8df74e9bb1d5780b",
        "name": "switch agua cruda",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "2350",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 740,
        "wires": [
            [
                "84a9936195733497"
            ],
            [
                "78e80fa968eeaa32"
            ]
        ]
    },
    {
        "id": "876fc8c784943269",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_agua_purificada_vacio",
        "func": "msg.payload={\n    \"chatId\":\"6179957821\",\n    \"type\":\"message\",\n    \"content\":\"El tanque de agua purificada esta casi vacio. Solo tiene \"+msg.payload+\" litros.\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 540,
        "wires": [
            [
                "0d092ec0d2b160c1"
            ]
        ]
    },
    {
        "id": "14f4c0cf28f19a3e",
        "type": "rbe",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "func": "narrowbandEq",
        "gap": "1",
        "start": "",
        "inout": "in",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 140,
        "wires": [
            [
                "259a67894f5fcb24"
            ]
        ]
    },
    {
        "id": "bfeb34e7b84131db",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_cloro",
        "func": "\nmsg.payload = {\n    \"chatId\": \"6179957821\",\n    \"type\": \"message\",\n    \"content\": \"Es necesario agregar cloro al tanque de agua cruda. Su nivel de cloro es de \" + msg.payload\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 320,
        "wires": [
            [
                "0d092ec0d2b160c1"
            ]
        ]
    },
    {
        "id": "b15e87d729325db6",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_agua_purificada_lleno",
        "func": "msg.payload={\n    \"chatId\":\"6179957821\",\n    \"type\":\"message\",\n    \"content\": \"El tanque de agua purificada esta casi lleno. Tiene \" + msg.payload + \" litros.\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 600,
        "wires": [
            [
                "0d092ec0d2b160c1"
            ]
        ]
    },
    {
        "id": "84a9936195733497",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_agua_cruda_vacio",
        "func": "msg.payload={\n    \"chatId\":\"6179957821\",\n    \"type\":\"message\",\n    \"content\":\"El tanque de agua cruda esta casi vacio. Solo tiene \"+msg.payload+\" litros.\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 700,
        "wires": [
            [
                "0d092ec0d2b160c1"
            ]
        ]
    },
    {
        "id": "78e80fa968eeaa32",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_agua_cruda_lleno",
        "func": "msg.payload={\n    \"chatId\":\"6179957821\",\n    \"type\":\"message\",\n    \"content\": \"El tanque de agua cruda esta casi lleno. Tiene \" + msg.payload + \" litros.\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 760,
        "wires": [
            [
                "0d092ec0d2b160c1"
            ]
        ]
    },
    {
        "id": "36fff8cd01ac7321",
        "type": "ui_chart",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "group": "f617dc9145f0f99a",
        "order": 1,
        "width": 15,
        "height": 9,
        "label": "Historial Agua Cruda",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "2500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "c-ag",
        "x": 680,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "83618e7e9f8afead",
        "type": "ui_gauge",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "group": "bef28d581646cdb5",
        "order": 3,
        "width": 6,
        "height": 7,
        "gtype": "wave",
        "title": "Agua purificada",
        "label": " Litros",
        "format": "{{value}}",
        "min": 0,
        "max": "2500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "g-ap",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "e62e27587f077be4",
        "type": "ui_gauge",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "group": "f617dc9145f0f99a",
        "order": 3,
        "width": 6,
        "height": 7,
        "gtype": "wave",
        "title": "Agua cruda",
        "label": " Litros",
        "format": "{{value}}",
        "min": 0,
        "max": "2500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "g-ac",
        "x": 650,
        "y": 680,
        "wires": []
    },
    {
        "id": "ce19ca7466493b0a",
        "type": "ui_gauge",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "group": "f617dc9145f0f99a",
        "order": 5,
        "width": 6,
        "height": 7,
        "gtype": "gage",
        "title": "Nivel de cloro",
        "label": "  ml/gl",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "g-nc",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "f03d0c9c9d3cb137",
        "type": "ui_template",
        "z": "8df74e9bb1d5780b",
        "group": "399bb99a53e8bf15",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 1,
        "width": 15,
        "height": 1,
        "format": "<style>\n    /*Degradado en el fondo*/\n    body {\n        background: -webkit-linear-gradient(55deg,\n                #009785 0%,\n                #3855AB 50%,\n                #AF24E3 100%);\n        -webkit-touch-callout: none !important;\n    }\n\n    /*Nav-Bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF;\n    }\n\n    .md-toolbar-tools h1,\n    .md-toolbar-tools h2,\n    .md-toolbar-tools h3 {\n        font-size: inherit;\n        font-weight: bold;\n        margin: inherit;\n        color: #FFFFFF !important;\n    }\n\n    body.nr-dashboard-theme md-toolbar .md-toolbar-tools {\n    color: #fff;\n    filter: invert(0%); \n    }\n\n    /* Grupo de cards */\n    /*\n    #Tab_DATOS_DE_AGUA_DE_PURIFICADORA_JIDAL{\n    display: flex;\n    gap: 1rem;\n    }*/\n\n\n\n    /*Grupos*/\n    ui-card-panel {\n        background-color: rgba(255, 255, 255, 0.1) !important;\n        border-radius: 10px !important;\n       \n        \n    }\n\n    .nr-dashboard-theme ui-card-panel {\n        border: none;\n    }\n\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-theme {\n        color: rgba(255, 255, 255, 0.5);\n    }\n\n\n    /*Color de letras de graficas*/\n\n    .nr-dashboard-theme .nr-dashboard-gauge text:not(.g-nc text, .g-ppm text) {\n        fill: rgb(255, 255, 255) !important;\n        margin: 8px;\n        font-size:32px;\n        font-weight: bold;\n        /*text-anchor: middle;\n        dominant-baseline: middle;*/\n        transform: translate(50%, 50%);\n      \n    }\n\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: #a3eaff;\n        font-weight: bolder;\n        font-size: 141%;\n    }\n\n    .nr-dashboard-theme .nr-dashboard-gauge-title {\n        margin: 6px 0px 24px 0px;\n        z-index: 1;\n    }\n\n    .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n        font-size: larger;\n        font-weight: bold;\n        z-index: 1;\n        opacity: 51%;\n    }\n\n    canvas.chart.chart-line {\n        height: calc(100% + -15px) !important;\n        width: calc(100%) !important;\n        color: white !important;\n    }\n\n    .g-nc text tspan, .g-ppm text tspan{\n    font-weight: bolder;\n    font-size: 141%;\n    }\n\n   \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 680,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "17ddee35d5a2d49d",
        "type": "ui_text",
        "z": "8df74e9bb1d5780b",
        "group": "3358530e05362838",
        "order": 1,
        "width": 15,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 370,
        "y": 940,
        "wires": []
    },
    {
        "id": "78cd3e17cfdf0853",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "function 1",
        "func": "// Obtener la hora actual\nvar fechaActual = new Date();\n\n// Formatear la hora en formato de 24 horas\nvar hora = fechaActual.getHours();\nvar minutos = fechaActual.getMinutes();\nvar segundos = fechaActual.getSeconds();\n\n// Ajustar el formato de la hora y los minutos a dos dígitos\nif (hora < 10) {\n    hora = \"0\" + hora;\n}\nif (minutos < 10) {\n    minutos = \"0\" + minutos;\n}\nif (segundos < 10) {\n    segundos = \"0\" + segundos;\n}\n\n// Construir la cadena de tiempo en formato de 24 horas\nvar horaFormateada = hora + \":\" + minutos + \":\" + segundos;\n\n// Enviar la hora formateada al siguiente nodo\nmsg.payload = horaFormateada;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1020,
        "wires": [
            [
                "17ddee35d5a2d49d",
                "8e7dfa1da88edf53"
            ]
        ]
    },
    {
        "id": "8e7dfa1da88edf53",
        "type": "debug",
        "z": "8df74e9bb1d5780b",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1100,
        "wires": []
    },
    {
        "id": "52362c082c7aef34",
        "type": "inject",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "78cd3e17cfdf0853"
            ]
        ]
    },
    {
        "id": "7b214e43c909fe38",
        "type": "telegram command",
        "z": "8df74e9bb1d5780b",
        "name": "comando de cloro",
        "command": "/cloro",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "4447d87b9554097f",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "f8d32202977d37ed"
            ]
        ]
    },
    {
        "id": "f8d32202977d37ed",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_cloro_comando",
        "func": "var cloro=global.get('cloro') || 0;\nmsg.payload = {\n    \"chatId\": \"6179957821\",\n    \"type\": \"message\",\n    \"content\": \"El nivel de cloro al tanque de agua cruda es de \" + cloro + \" mg/L\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 260,
        "wires": [
            [
                "0d092ec0d2b160c1"
            ]
        ]
    },
    {
        "id": "4b7f4bdbee1a1877",
        "type": "telegram command",
        "z": "8df74e9bb1d5780b",
        "name": "comando de agua purificada",
        "command": "/agua_purificada",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "4447d87b9554097f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 700,
        "y": 480,
        "wires": [
            [
                "ad3b5f5b7e325e76"
            ],
            []
        ]
    },
    {
        "id": "ad3b5f5b7e325e76",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_agua_purificada_comando",
        "func": "var agua_purificada = global.get('agua_purificada') || 0;\nmsg.payload={\n    \"chatId\":\"6179957821\",\n    \"type\":\"message\",\n    \"content\":\"El nivel de agua purificada en el tanque es de \"+agua_purificada+\" litros\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 460,
        "wires": [
            [
                "0d092ec0d2b160c1"
            ]
        ]
    },
    {
        "id": "e5291db837f84717",
        "type": "telegram command",
        "z": "8df74e9bb1d5780b",
        "name": "Comando de agua cruda",
        "command": "/agua_cruda",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "4447d87b9554097f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 690,
        "y": 820,
        "wires": [
            [
                "025cb844d2c7fbd2"
            ],
            []
        ]
    },
    {
        "id": "025cb844d2c7fbd2",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_agua_cruda_comando",
        "func": "var agua_cruda = global.get('agua_cruda') || 0;\nmsg.payload={\n    \"chatId\":\"6179957821\",\n    \"type\":\"message\",\n    \"content\":\"El nivel de agua cruda en el tanque es de \"+agua_cruda+\" litros.\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 820,
        "wires": [
            [
                "0d092ec0d2b160c1"
            ]
        ]
    },
    {
        "id": "6633901ed70a7ec1",
        "type": "telegram command",
        "z": "8df74e9bb1d5780b",
        "name": "Comando para pm",
        "command": "/pm",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "4447d87b9554097f",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "9de658cf10deec8b"
            ],
            []
        ]
    },
    {
        "id": "9de658cf10deec8b",
        "type": "function",
        "z": "8df74e9bb1d5780b",
        "name": "mensaje_pm_comando",
        "func": "var pm = global.get('pm') || 0;\nmsg.payload = {\n    \"chatId\": \"6179957821\",\n    \"type\": \"message\",\n    \"content\": \"El nivel de limpieza del agua es de \" + pm+\" partes por millón\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 80,
        "wires": [
            [
                "0d092ec0d2b160c1"
            ]
        ]
    },
    {
        "id": "e51c091137a9a621",
        "type": "ui_chart",
        "z": "8df74e9bb1d5780b",
        "name": "",
        "group": "bef28d581646cdb5",
        "order": 1,
        "width": 15,
        "height": 9,
        "label": "Historial Agua Purirficada",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "2500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff",
            "#ffffff"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "c-ag",
        "x": 690,
        "y": 620,
        "wires": [
            []
        ]
    }
]